include AUTHORS
include ChangeLog
exclude .gitignore
exclude .gitreview
include requirements.txt
include cmd3/etc/*.yaml
include cmd3/etc/cmd3_template/*
include cmd3/etc/cmd3_template/cmd3_template/*
include cmd3/etc/cmd3_template/cmd3_template/plugins/*

global-exclude *.pyc
